

<ql-card class="box-card">
    <div class="card-title">
        <h2>
            Carousel 幻灯片
            <small>在有限空间内，循环播放同一类型的图片、文字等内容</small>
        </h2>
    </div>

    <h3 class="mt-5">基础用法</h3>
    <ex-demo  [code]="code[0]" notes="默认情况下，鼠标 click 底部的指示器时就会触发切换。
通过设置 <code>trigger</code> 属性为 <code>hover</code>，可以达到 hover 触发的效果">
    </ex-demo>

    <h3 class="mt-5">指示器</h3>
    <p>可以设置切换箭头的总是显示</p>
    <ex-demo  [code]="code[2]" notes="箭头或指示器的触发方式可以更改，详见文末属性参考。">
    </ex-demo>

    <h3 class="mt-5">指示器</h3>
    <p>可以设置切换箭头的总是显示</p>
    <ex-demo  [code]="code[2]" notes="箭头或指示器的触发方式可以更改，详见文末属性参考。">
    </ex-demo>

    <h3 class="mt-5">标签</h3>
    <p>为指示器增加额外文本</p>
    <ex-demo  [code]="code[3]" notes="为了保证样式，存在任何一个 <code>label</code> 属性
为空或未设置，指示器都会隐藏所有标签。">
    </ex-demo>


    <h3 class="mt-5">{{apidoc.name}}</h3>
    <ql-table [model]="apidoc.attrs" [border]="true" [stripe]="true">
        <ql-table-column model-key="name" label="参数"></ql-table-column>
        <ql-table-column width="700" model-key="notes" label="说明"></ql-table-column>
        <ql-table-column model-key="type" label="类型"></ql-table-column>
        <ql-table-column model-key="enum" label="可选值"></ql-table-column>
        <ql-table-column model-key="default" label="默认值"></ql-table-column>
    </ql-table>
    <h3 class="mt-5">{{apidoc2.name}}</h3>
    <ql-table [model]="apidoc2.attrs" [border]="true" [stripe]="true">
        <ql-table-column model-key="name" label="参数"></ql-table-column>
        <ql-table-column width="700" model-key="notes" label="说明"></ql-table-column>
        <ql-table-column model-key="type" label="类型"></ql-table-column>
        <ql-table-column model-key="enum" label="可选值"></ql-table-column>
        <ql-table-column model-key="default" label="默认值"></ql-table-column>
    </ql-table>
</ql-card>