<ql-card class="box-card frame-layout">
    <div class="card-title mb-5">
        <h2>
            框架
        </h2>
    </div>
    <div class="help-standard-content">
        <ul class="mt-4">
            <li>页面框架基于主流分辨率1920x1080px设计，最低适应分辨率为1366x768</li>
            <li>包括顶栏、页签、各应用左侧菜单、主体内容四大区域，其中顶栏、左侧菜单、页签、路径导航为页面固定结构</li>
            <li>主体内容上下左右边距15px，固定显示区域一屏高度，超过内容出现滚动条</li>
            <li>页面中各个组件需要根据屏幕宽度采用自适应设计</li>
            <li>左侧栏菜单中的图标默认使用不超过3个字符的英文简写，首字母需要大写。</li>
            <!--<li>页面的编辑详情页，均用侧滑窗的方式</li>-->
        </ul>
    </div>
    <div class="mt-5">
        <img src="./assets/images/temp/01.jpg" class="img-fluid">
    </div>
    <div class="alert alert-info d-inline-block mt-2" role="alert">
        <i class="fa fa-info-circle"></i>
        示例图进行了等比缩放，只做说明使用，不做为实际设计。
    </div>

</ql-card>
<ql-card class="box-card frame-layout">
    <div class="card-title mb-5">
        <h2>
            布局&排版
        </h2>
    </div>
    <div class="help-standard-content">
        <ul class="mt-4">
            <li>亲密原则：先对内容进行信息分层，属于一个层级分为一组，有关联的内容会离的更近。</li>
            <li>对比原则：通过颜色对比、粗细对比、形状对比、疏密对比、大小对比，使我们聚焦在需要关注的信息上，在进行对比排版的时候，需要多维度考虑。ex: 一个增删改查的页面，首先引导的是增，所以在增加的操作按钮做一个颜色的引导。ex:一个表单提交的页面，在操作完成的最后一步的按钮做一个颜色的引导。</li>
            <li>平衡原则：平衡原则是界面排版布局的首要原则。大到整个官网，小到一张图文，都需要我们对页面视觉平衡有很好的节奏控制。ex:box的padding margin,遵循左右平衡，左右的留白要统一。 上下的原则是头重脚轻，顶部可以厚重些，但底部在没有foot的时候要尽可能多的留白，一般至少为左右padding的一倍。</li>
            <li>相似原则：对相似的内容赋予相同的属性。例如同一级别的标题文字大小相同，相同颜色(如蓝色等)的字体都可以点击等等，相似原则的因素也不只有文字颜色，还有背景色、方向、大小等等。</li>
            <li>简单原则：对页面所有元素避免小数点，尽量保持10进制单位。页面间距规则简单通用、视觉样式轻量化、无线化分割，同时，注意页面右边边缘对齐。</li>
            <li>封闭原则：用于区分两个独立的模块部分时一般采用封闭原则。封闭原则一般使用卡片、线框或间隔的颜色来封闭内容。</li>
        </ul>
    </div>

</ql-card>