@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";

@include b(form) {
  @include m(label-left) {
    & .ql-form-item__label {
      text-align: left;
    }
  }
  @include m(label-top) {
    & .ql-form-item__label {
      float: none;
      position: relative;
      text-align: left;
      color: $--color-black;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.2px;
      display: block;
      margin-bottom: 6px;
      padding-bottom: 0;
    }
  }
  @include m(inline) {
    & .ql-form-item {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
    }
    & .ql-form-item__label {
      float: none;
      display: inline-block;
    }
    & .ql-form-item__content {
      display: inline-block;
      vertical-align: top;
    }
    &.ql-form--label-top .ql-form-item__content {
      display: block;
    }
  }
}
@include b(form-item) {
  margin-bottom: 22px;
  @include utils-clearfix;

  & .ql-form-item {
    margin-bottom: 0;
  }

  & .ql-input__validateIcon {
    display: none;
  }

  @include m(medium) {
    .ql-form-item__label {
      line-height: 36px;
    }
    .ql-form-item__content {
      line-height: 36px;
    }
  }
  @include m(small) {
    .ql-form-item__label {
      line-height: 16px;
    }
    .ql-form-item__content {
      line-height: 32px;
    }
    &.ql-form-item {
      margin-bottom: 18px;
    }
    .ql-form-item__error {
      padding-top: 2px;
    }
  }
  @include m(mini) {
    .ql-form-item__label {
      line-height: 28px;
    }
    .ql-form-item__content {
      line-height: 28px;
    }
    &.ql-form-item {
      margin-bottom: 18px;
    }
    .ql-form-item__error {
      padding-top: 1px;
    }
  }

  @include e(label) {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: $--color-text-regular;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
  }
  @include e(content) {
    line-height: 40px;
    position: relative;
    font-size: 14px;
    @include utils-clearfix;

    .ql-input-group {
      vertical-align: middle;
    }
  }
  @include e(error) {
    color: $--color-danger;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;

    @include m(inline) {
      position: relative;
      top: auto;
      left: auto;
      display: inline-block;
      margin-left: 10px;
    }
  }

  @include when(required) {
    @include pseudo('not(.is-no-asterisk)') {
      & > .ql-form-item__label:before {
        content: '*';
        color: $--color-danger;
        position: absolute;
        left: -19px;
        top: 1px;
        margin-right: 0;
        font-size: 18px;
      }
    }
  }

  @include when(error) {
    & .ql-input__inner,
    & .ql-textarea__inner {
      &, &:focus {
        border-color: $--color-danger;
      }
    }
    & .ql-input-group__append,
    & .ql-input-group__prepend {
      & .ql-input__inner {
        border-color: transparent;
      }
    }
    .ql-input__validateIcon {
      color: $--color-danger;
    }
  }
  @include when(success) {
    & .ql-input__inner,
    & .ql-textarea__inner {
      &, &:focus {
        border-color: $--color-success;
      }
    }
    & .ql-input-group__append,
    & .ql-input-group__prepend {
      & .ql-input__inner {
        border-color: transparent;
      }
    }
    .ql-input__validateIcon {
      color: $--color-success;
    }
  }
  @include m(feedback) {
    .ql-input__validateIcon {
      display: inline-block;
    }
  }
}
