@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "common/transition";

@mixin menu-item {
  height: 56px;
  line-height: 56px;
  font-size: $--menu-item-font-size;
  color: $--menu-item-color;
  padding: 0 20px;
  list-style: none;
  cursor: pointer;
  position: relative;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box;
  white-space: nowrap;

  * {
    vertical-align: middle;
  }

  i {
    color: $--color-text-placeholder;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $--menu-item-hover-fill;
  }

  @include when(disabled) {
    opacity: 0.25;
    cursor: not-allowed;
    background: none !important;
  }
}

@include b(menu) {
  border-right: solid 1px #e6e6e6;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: $--menu-item-fill;
  @include utils-clearfix;
  &.ql-menu--horizontal {
    border-bottom: solid 1px #e6e6e6;
  }

  @include m(horizontal) {
    border-right: none;

    & >.ql-menu-item {
      float: left;
      height: 60px;
      line-height: 60px;
      margin: 0;
      border-bottom: 2px solid transparent;
      color: $--color-text-secondary;

      a,
      a:hover {
        color: inherit;
      }

      &:not(.is-disabled):hover,
      &:not(.is-disabled):focus {
        background-color: #fff;
      }
    }
    & .ql-submenu {
      position: relative;
      float: left;
      &:focus,
      &:hover {
        outline: none;
        .ql-submenu__title {
          color: $--color-text-primary;
        }
      }

      &.is-active {
        .ql-submenu__title {
          border-bottom: 2px solid $--color-warning;
          color: $--color-text-primary;
        }
      }

      & .ql-submenu__title {
        height: 60px;
        line-height: 60px;
        border-bottom: 2px solid transparent;
        color: $--color-text-secondary;

        &:hover {
          background-color: #fff;
        }
      }
      & .ql-submenu__icon-arrow {
        position: static;
        vertical-align: middle;
        margin-left: 8px;
        margin-top: -3px;
      }
      & .ql-menu{
        position: absolute;
        z-index: 2000;
      }
    }
    & .ql-menu {
      & .ql-menu-item,
      & .ql-submenu__title {
        background-color: $--color-white;
        float: none;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        color: $--color-text-secondary;
      }
      & .ql-menu-item.is-active,
      & .ql-submenu.is-active > .ql-submenu__title {
        color: $--color-text-primary;
      }
    }
    & .ql-menu-item:not(.is-disabled):hover,
    & .ql-menu-item:not(.is-disabled):focus {
      outline: none;
      color: $--color-text-primary;
    }
    & > .ql-menu-item.is-active {
      border-bottom: 2px solid $--color-warning;
      color: $--color-text-primary;
    }
  }
  @include m(collapse) {
    width: 64px;

    > .ql-menu-item,
    > .ql-submenu > .ql-submenu__title {
      [class^="ql-icon-"] {
        margin: 0;
        vertical-align: middle;
        width: 24px;
        text-align: center;
      }
      .ql-submenu__icon-arrow {
        display: none;
      }
      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }
    }

    > .ql-menu-item.is-active i {
      color: $--color-text-primary;
    }

    .ql-menu .ql-submenu {
      min-width: 100px;
    }

    .ql-submenu {
      position: relative;
      & .ql-menu {
        position: absolute;
        margin-left: 5px;
        top: 0;
        left: 100%;
        z-index: 10;
        border: 1px solid $--border-color-light;
        border-radius: $--border-radius-small;
        box-shadow: $--box-shadow-light;
      }

      &.is-opened {
        > .ql-submenu__title .ql-submenu__icon-arrow {
          transform: none;
        }
      }
    }
  }
  @include m(popup) {
    z-index: 100;
    min-width: 100px;
    border: none;
    padding: 5px 0;
    border-radius: $--border-radius-small;
    box-shadow: $--box-shadow-light;

    &-bottom-start {
      margin-top: 5px;
    }
    &-right-start {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

@include b(menu-item) {
  @include menu-item;

  & [class^="ql-icon-"] {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
  }
  @include when(active) {
    color: $--color-primary;
    i {
      color: $--color-text-secondary;
    }
  }
}

@include b(submenu) {
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include e(title) {
    @include menu-item;

    &:hover {
      background-color: $--menu-item-hover-fill;
    }
  }
  & .ql-menu {
    border: none;
  }
  & .ql-menu-item {
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    min-width: 100px;
  }
  @include e(icon-arrow) {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -7px;
    transition: transform .3s;
    font-size: 12px;
  }
  @include when(active) {
    .ql-submenu__title {
      border-bottom-color: $--color-primary;
    }
  }
  @include when(opened) {
    > .ql-submenu__title .ql-submenu__icon-arrow {
      transform: rotateZ(180deg);
    }
  }
  @include when(disabled) {
    .ql-submenu__title,
    .ql-menu-item {
      opacity: 0.25;
      cursor: not-allowed;
      background: none !important;
    }
  }
  [class^="ql-icon-"] {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
  }
}

@include b(menu-item-group) {
  > ul {
    padding: 0;
  }
  @include e(title) {
    padding: 7px 0 7px 20px;
    line-height: normal;
    font-size: 12px;
    color: $--color-text-secondary;
  }
}

/*
.horizontal-collapse-transition .ql-submenu__title .ql-submenu__icon-arrow {
  transition: .2s;
  opacity: 0;
}
*/

/*
.ql-menu--horizontal {
  .ql-submenu {
    float: left;
    position: relative;
    .ql-submenu__title {
      height: 60px;
      line-height: 60px;
      border-bottom: 2px solid transparent;
      color: #878d99;
    }
    .ql-submenu__icon-arrow {
      position: static;
      vertical-align: middle;
      margin-left: 8px;
      margin-top: -3px;
    }
  }
}

.ql-menu--horizontal .ql-submenu > .ql-menu {
  position: absolute;
  top: 65px;
  left: 0;
  border: none;
  padding: 5px 0;
  background-color: #fff;
  z-index: 100;
  min-width: 100%;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border-radius: 2px;
}*/
