
<ql-card class="box-card">
    <div class="card-title mb-5">
        <h2>
            Card 卡片
            <small>将信息聚合在卡片容器中展示。</small>
        </h2>
    </div>

    <div class="help-standard-content">
        <ul class="mt-4">
            <li>卡片元素不能嵌套卡片元素。</li>
        </ul>
    </div>

    <h3 class="mt-5">基础用法</h3>
    <p>包含标题，内容和操作。</p>
    <ex-demo  [code]="code[0]">
    </ex-demo>
    <h3 class="mt-5">简单卡片</h3>
    <p>卡片可以只有内容区域。</p>
    <ex-demo  [code]="code[1]">
    </ex-demo>

    <h3 class="mt-5">{{apidoc.name}}</h3>
    <ql-table [model]="apidoc.attrs" [border]="true" [stripe]="true">
        <ql-table-column model-key="name" label="参数"></ql-table-column>
        <ql-table-column width="700" model-key="notes" label="说明"></ql-table-column>
        <ql-table-column model-key="type" label="类型"></ql-table-column>
        <ql-table-column model-key="enum" label="可选值"></ql-table-column>
        <ql-table-column model-key="default" label="默认值"></ql-table-column>
    </ql-table>
</ql-card>