
<ql-card class="box-card">
    <div class="card-title">
        <h2>
            Checkbox 多选框
            <small>一组备选项中进行多选</small>
        </h2>
    </div>


    <h3 class="mt-5">基础用法</h3>
    <p>单独使用可以表示两种状态之间的切换，写在标签中的内容为 checkbox 按钮后的介绍。</p>
    <ex-demo  [code]="code[0]" [class]="exClass" notes="在组件中定义 <code>model</code> 绑定变量，
单一使用组件时，默认绑定变量的值会是 <code>Boolean</code>，选中为 <code>true</code>">
    </ex-demo>

    <h3 class="mt-5">禁用状态</h3>
    <p>多选框不可用状态。</p>
    <ex-demo  [code]="code[1]" notes="设置 <code>qlDisabled</code> 属性即可">
    </ex-demo>

    <h3 class="mt-5">多选框组</h3>
    <p>适用于多个勾选框绑定到同一个数组的情景，通过是否勾选来表示这一组选项中选中的项。</p>
    <ex-demo  [code]="code[2]" [class]="exClass" notes="<code>label</code> 与数组中的元素值相对应，
如果存在指定的值则为选中状态，否则为不选中。">
    </ex-demo>

    <h3 class="mt-5">可选项目数量的限制</h3>
    <p>使用 <code>min</code> 和 <code>max</code> 属性能够限制可以被勾选的项目的数量。</p>
    <ex-demo  [code]="code[3]">
    </ex-demo>

    <h3 class="mt-5">按钮样式</h3>
    <p>按钮样式的多选组合。</p>
    <ex-demo  [code]="code[4]" notes="组件还提供了 <code>size</code> 属性，
支持 <code>large</code> 和 <code>small</code> 两种。">
    </ex-demo>

    <h3 class="mt-5">{{apidoc.name}}</h3>
    <ql-table [model]="apidoc.attrs" [border]="true" [stripe]="true">
        <ql-table-column model-key="name" label="参数"></ql-table-column>
        <ql-table-column width="700" model-key="notes" label="说明"></ql-table-column>
        <ql-table-column model-key="type" label="类型"></ql-table-column>
        <ql-table-column model-key="enum" label="可选值"></ql-table-column>
        <ql-table-column model-key="default" label="默认值"></ql-table-column>
    </ql-table>
    <h3 class="mt-5">{{apidoc2.name}}</h3>
    <ql-table [model]="apidoc2.attrs" [border]="true" [stripe]="true">
        <ql-table-column model-key="name" label="参数"></ql-table-column>
        <ql-table-column width="700" model-key="notes" label="说明"></ql-table-column>
        <ql-table-column model-key="type" label="类型"></ql-table-column>
        <ql-table-column model-key="enum" label="可选值"></ql-table-column>
        <ql-table-column model-key="default" label="默认值"></ql-table-column>
    </ql-table>
</ql-card>