
// == Body
//$body-bg: #F0F3F4;
//
//
//@mixin body-bg() {
//  background-color: $body-bg;
//}

// == Top
//$qloud-top-bg:#ffffff;
//$qloudTopbar: #ffffff;
//$qloudTopbarlight: tint($qloudTopbar, 5%);
//$qloudTopbar-height:60px;

// == logo
//$brand-bg:#ffffff;
//$brand-text:$primary;

// == user & user panel

// == SideBar
$sidebar-width: 200px;
$qloudSidebar: $sidebar-bg;
$sidebar-text: #ffffff;
