/*
.ql-menu-demo {
  padding-left: 55px;
}
.ql-menu-vertical-demo:not(.ql-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
.line {
  height: 1px;
  background-color: #e0e6ed;
  margin: 35px -24px;
}
h5 {
  font-size: 14px;
  color: #8492a6;
  margin-top: 10px;
}
.tac {
  text-align: center;

  .ql-menu-vertical-demo {
    display: inline-block;
    text-align: left;
  }
}

*/
