<ql-card class="box-card">
    <div class="card-title">
        <h2>
            Tree 树形控件
            <small>用清晰的层级结构展示信息，可展开或折叠。</small>
        </h2>
    </div>


    <h3 class="mt-5">基础用法</h3>
    <ex-demo [code]="code[0]" [class]="exClass"></ex-demo>

    <h3 class="mt-5">可选择</h3>

    <p>适用于需要选择层级时使用。</p>
    <ex-demo [code]="code[1]" [class]="exClass"></ex-demo>

    <h3 class="mt-5">默认展开和默认选中</h3>

    <p>可将 Tree 的某些节点设置为默认展开或默认选中。<br/>
        使用 <code>default-expanded-keys</code> 或 <code>default-checked-keys</code> 属性来设置默认展开和选中时，需要注意的是这这两个设置项表示源数据中的
        id，如果 model data 没有 id 属性，你需要为每一项数据手动增加唯一的 id。</p>

    <ex-demo [code]="code[2]" [class]="exClass"></ex-demo>

    <h3 class="mt-5">钩子函数</h3>

    <p>钩子函数可以帮助你手动设置数据</p>

    <ex-demo [code]="code[3]" [class]="exClass"></ex-demo>


    <h3 class="mt-5">手风琴模式</h3>

    <p>对于同一级的节点，每次只能展开一个</p>

    <ex-demo [code]="code[4]" [class]="exClass"></ex-demo>

    <h3 class="mt-5">{{apidoc.name}}</h3>
    <ql-table [model]="apidoc.attrs" [border]="true" [stripe]="true">
        <ql-table-column model-key="name" label="参数"></ql-table-column>
        <ql-table-column width="700" model-key="notes" label="说明"></ql-table-column>
        <ql-table-column model-key="type" label="类型"></ql-table-column>
        <ql-table-column model-key="enum" label="可选值"></ql-table-column>
        <ql-table-column model-key="default" label="默认值"></ql-table-column>
    </ql-table>
</ql-card>